*.pyc
labs/lab3_multiagent/exercises/boids_box2d/sounds/*.wav
labs/lab3_multiagent/solutions/boids_box2d/sounds/*.wav
labs/lab4_levy_grammar/exercises/grammar_based_composition/out/*.wav
labs/lab4_levy_grammar/solutions/grammar_based_composition/out/*.wav
